<form action="/user" method="post">
<p> Please put your name </p>
<input type="text" name="name">
<p> Position of your ship </p>
<input type="text" name="ship_1_position">
<p> Orientation of the ship </p>
<input type="text" name="ship_1_orientation">
<input type="submit" value="start">
</form>