<form action="/user" method="post">
Please put your name
<input type="text" name="name">
Position of your ship
<input type="text" name="ship_1_position">
Orientation of the ship
<input type="text" name="ship_1_orientation">
<input type="submit" value="start">
</form>