<form action="/user" method="post">
<p> Please put Player 1's name </p>
<input type="text" name="name_1">
<p> Position of your ship </p>
<input type="text" name="ship_1_position">
<p> Orientation of the ship </p>
<input type="text" name="ship_1_orientation">
<p></p>
<p> Please put Player 2's name </p>
<input type="text" name="name_2">
<p> Position of your ship </p>
<input type="text" name="ship_2_position">
<p> Orientation of the ship </p>
<input type="text" name="ship_2_orientation">

<input type="submit" value="start">
</form>